body {
  padding: 0px;
  margin: 0px;
}

.navbar {
  padding: 0px !important;
  margin: 0px !important;
}

.bold-font{
  font-weight: bold;
 }

ul li a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF !important;
}

.cst-nav {
  background-color: #023455;
}

.contact-us-btn {
  width: 157px;
  background: #2A64F9 !important;
  border-radius: 170px !important;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF !important;
}

.contact-us-btn:hover {
  width: 157px;
  background: #2A64F9;
  border-radius: 170px;
}


.hero-image {
  height: 680px;
  background: url(../assets/images/heroimage.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

.testi-image {
  margin-top: 0;
}

.ideas-into-reality {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  text-transform: uppercase;
}
.hero-sec-header{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
}

@media (max-width:415px) {
  .hero-sec-header {
    font-size: 45px;
    line-height: 1.1;
    font-weight: 'bold ';
  }
}
@media (max-width:335px) {
  .hero-sec-header {
    font-size: 35px;
    line-height: 1.1;
    font-weight: 'bold ';
  }
}

@media (max-width:415px) {
  .review {
    width: 300px;
  }
}

@media (min-width:415px) {
  .review {
    width: 600px;
    text-align: center;
  }
}

.para-for-hero {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}


.our-process-heading {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
}

.comman-heading{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
}

.circle {
  background: #FFFFFF;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 2px 34px rgba(0, 0, 0, 0.25);
}

.first-circle {
  background-position: 100%;
  background-size: auto;
  background: url(../assets/images/wireframe1.png) no-repeat center !important;
}

.second-circle {
  background-position: 100%;
  background-size: auto;
  background: url(../assets/images/wireframe2.png) no-repeat center !important;
}

.third-circle {
  background-position: 100%;
  background-size: auto;
  background: url(../assets/images/wireframe3.png) no-repeat center !important;
}

.fourth-circle {
  background-position: 100%;
  background-size: auto;
  background: url(../assets/images/wireframe4.png) no-repeat center !important;
}

.fifth-circle {
  background-position: 100%;
  background-size: auto;
  background: url(../assets/images/wireframe5.png) no-repeat center !important;
}



li {
  list-style-type: none;
}

.cst-our-process {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap-our-service {
  border-radius: 200px 0px 0px 0px;
  background: #012E4D;
}
.special-services{
  background: #012E4D;
}
.b-border{
  border-bottom:1px solid #3B6989;
  border: #012E4D;
}
.client-image-1 {
  height: 60px;
  width: 60px;
}

.client-image-2 {
  height: 30px;
  width: 30px;
}

.client-image-3 {
  height: 50px;
  width: 50px;
}

.client-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.testi-detail-box {
  margin: auto;
}

.name-hr {
  display: flex;
  justify-content: flex-start;
}

@media (max-width:415px) {
  .leaderImg {
    display: flex;
    justify-content: center;
    padding: 12px;
  }
}

.btn-ai-class {
  width: 65px;
  height: 65px;
  border-radius: 32px;
  background: #E5E5E5;
  font-size: 22px;
  margin-right: 10px;
}

.btn-ai-class:hover {
  background: #E5E5E5;
}


.cst-border-cls {
  border-radius: 0px;
  border-bottom: 2px solid #C4C4C4;
}

.grid-class-cst {
  display: flex;
}
.list-group li{
  list-style-type: disc !important;
  padding-left: 1em;
}

.main-div-for-portfolio {
  background-color: #EAEAFF;
  border-radius: 0px 0px 200px 0px;
}


input {
  /* width: 570px; */
  height: 60px;
  background: #FFFFFF;
  border-radius: 4px;
}

::-webkit-input-placeholder {
  /* Edge */

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;

}

:-ms-input-placeholder {
  /* Internet Explorer */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}


.date-cst {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2A64F9;
  color: white;
  padding: 18px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  text-align: center;

  color: #FFFFFF;
}

.cmt-back{
  position: absolute;
  margin-top: 16rem;
  margin-left: 30rem;
  background-color: #012E4D;
  padding: 18px;
}
.fev-back{
  position: absolute;
  margin-top: 16rem;
  margin-left: 35rem;
  background-color: #E83030;
  padding: 18px;
}

.img-round-cst{
  border:5px solid #2A64F9;
  border-radius: 65px;
}

.grayDot{
  position: absolute;
  margin-top: 20rem;
  margin-left: 18rem;
}
.blueDot{
  margin-left: 19rem;
  padding-top: 0rem;
}

.cst-footer-logo {
  margin-bottom: 100px;
}

.hr-cst {
  width: 69px;
  height: 7px;
  border-radius: 6px;
  background: #2A64F9;
}


 .card {
   background: #FFFFFF;
   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
 }
 @media (max-width:415px){
  .card-items div{
    padding: 12px;
    justify-content: center;
  }
 }
 .apply-now{
  border-radius:170px;
  background-color: #012E4D !important;
  color: #FFFFFF !important;
 }

.schedule-appointment {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 25px;
  color: #FFFFFF;
}


.our-top-blogs {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #040404;
}

.cst-hr-for-process {
  width: 69px;
  height: 7px;
  border-radius: 6px;
  background: #2A64F9;
  margin-left: auto;
  margin-right: auto;
}

.ratangale-one {
  /* width: 201px;
   height: 196px; */
  background: #A7C0FF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 30%;
}

.ratangale-two {
  /* width: 201px;
   height: 196px; */
  background: #FE9696;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 30%;
}


.ratangale-three {
  /* width: 201px;
   height: 196px; */
  background: #3999DB;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 30%;
}

.ratangale-foure {
  /* width: 201px;
   height: 196px; */
  background: #3B6989;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 30%;
}

.ratangale-five {
  /* width: 201px;
   height: 196px; */
  background: #3D3636;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 30%;
}


.ratangale-six {
  /* width: 201px;
   height: 196px; */
  background: #3D3636;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 30%;
}

.ratangale-seven {
  /* width: 201px;
   height: 196px; */
  background: #3999DB;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 30%;

}

.ratangale-eight {
  /* width: 201px;
   height: 196px; */
  background: #3B6989;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 30%;
}

.ratangale-nine {
  /* width: 201px;
   height: 196px; */
  background: #FE9696;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 30%;
}


.ratangale-ten {
  /* width: 201px;
   height: 196px; */
  background: #A7BFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 30%;
}


.our-process-section {
  background: url(../assets/images/OurProcessBg.png);
  /* background-position: 100%; */
  background-repeat: no-repeat;
}

.our-mission {
  background: url(../assets/images/bgabout.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.number-class {
  color: white;
  font-weight: 700;

  padding: 16px 22px 18px 22px;
  background-color: #2A64F9;
}

.cst-boder-para {
  border: 1px dashed #2A64F9;
}
.Data-border{
  padding: 25px;
  border: 1px dashed #2A64F9;
}
.key-clauses{
  font-weight: 'bold';
  font-size: large;
}
.key-clauses p, li{
  float: left;
}
.data-li li{
  line-height: 2.5;
}

.awards{
  margin-top: 7rem;
  margin-bottom: 3rem;
}
.award-box{
  background-color: #012E4D;
  margin: 3px;
  border-radius: 46px;
  color:#fff;
}
.awards-border{
  color: #fff;
  border:1px dashed #fff;
  border-radius: 10px;
}
.award-head-img{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.award-head-img h2{
  text-align: left;
}
.card-btm-text{
  margin-top: 10px;
}
.card-btm-text p{
  font-weight: bold;
  font-size: 25px;
}
