 :root {
   padding: 0px;
   margin: 0px;
 }


 ul li a {
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF !important;
 }


 .cst-nav {
   /* height: 117px; */
   background-color: #023455;
 }

 .contact-us-btn {
   width: 157px;
   background: #2A64F9;
   border-radius: 170px;


   font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;

   color: #FFFFFF;
 }

 .contact-us-btn:hover {
   width: 157px;
   background: #2A64F9;
   border-radius: 170px;
 }


 .hero-image {
   height: 680px;
   background: url(../assets/images/heroimage.png);
   background-position: 100%;
   background-repeat: no-repeat;
   background-size: auto;
 }


 .ideas-into-reality {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 80px;
   line-height: 98px;
   text-transform: uppercase;
 }

 .para-for-hero {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 30px;
 }


 .our-process-heading {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 45px;
   line-height: 55px;
   color: #000000;

 }


 .circle {

   background: #FFFFFF;
   border-radius: 50%;
   width: 200px;
   height: 200px;
   box-shadow: 0px 2px 34px rgba(0, 0, 0, 0.25);
 }

 .first-circle {
   background-position: 100%;
   background-size: auto;
   background: url(../assets/images/wireframe1.png) no-repeat center !important;
 }

 .second-circle {
   background-position: 100%;
   background-size: auto;
   background: url(../assets/images/wireframe2.png) no-repeat center !important;
 }

 .third-circle {
   background-position: 100%;
   background-size: auto;
   background: url(../assets/images/wireframe3.png) no-repeat center !important;
 }

 .fourth-circle {
   background-position: 100%;
   background-size: auto;
   background: url(../assets/images/wireframe4.png) no-repeat center !important;
 }

 .fifth-circle {
   background-position: 100%;
   background-size: auto;
   background: url(../assets/images/wireframe5.png) no-repeat center !important;
 }



 li {
   list-style-type: none;
 }

 .cst-our-process {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

  .wrap-our-service {
   border-radius: 200px 0px 0px 0px;
   background: #012E4D;
   /* height: 686px; */
 }

