.commanFont{
    font-family: "Montserrat";
    /* color: brown; */
}

.commanHead2{
    font-family: "Poppins";
}

.heroSectionHeader{
    font-weight: 700 !important;
    font-size: 80px !important;
    line-height: 97.52px !important;
}
.whychooseTxt{
    font-family: Montserrat;
font-size: 45px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0em;
text-align: left;

}
.subText{
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 30px !important;
}
.comman-heading {
    font-family: "Montserrat";
    font-style: normal;
    /* font-weight: bolder; */
    font-weight: bolder;
    font-size: 30px;
    line-height: 55px;
}
.carousel-btn {
    padding:"11px 16px"
}
.header-ul li :hover {
    border-bottom: #000000 !important;
    background-color: rgb(227, 227, 255) !important;
    border-radius: 16px !important;
  }
/* ------------------------------From here you can changes in proess section ------------------------*/


.processList{
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 30px !important;
}

/* ---------------------------------------OUR SERVICES STYLING ----------------------- */

.serviceText{
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left; 
    color:#656565;  
}

.serviceheadingText{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

/* ------------------------------- OUR PORTFOLIO HOMEPAGE SETYLE------------------------------ */

.mobileHeadText{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.subHeadText{
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

/* ----------------------------------------WHY CHOOSE KOLIINFOTECH HOME-PAGE STYLE------------------------------ */

.whychooseTxt{
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
}

/* ----------------------------------------OUR TOP BLOGS STYLE------------------------------ */
.blog-card-titile {
    font-weight: bold;
    font-family: "Montserrat";
}