.commanFont{
    font-family: "Montserrat";
    /* color: brown; */
}

.commanHead2{
    font-family: "Poppins";
}

.heroSectionHeader{
    font-weight: 700 !important;
    font-size: 80px !important;
    line-height: 97.52px !important;
}
.whychooseTxt{
    font-family: Montserrat;
font-size: 45px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0em;
text-align: left;

}
.subText{
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 30px !important;
}

/* ------------------------------From here you can changes in proess section ------------------------*/


.processList{
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 30px !important;
}

/* ---------------------------------------OUR SERVICES STYLING ----------------------- */

.serviceText{
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left; 
    color:#656565;  
}

.serviceheadingText{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

/* ------------------------------- OUR PORTFOLIO HOMEPAGE STYLE------------------------------ */

.mobileHeadText{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.subHeadText{
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

/* ----------------------------------------WHY CHOOSE KOLIINFOTECH HOME-PAGE STYLE------------------------------ */

.whychooseTxt{
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
}


/* ------------------------------------------------- Footer Icons ------------------------------------*/

.icons{
    color: "#2A64F9";
     font-size: "43px";
      margin: "3px";
}
/* .icon-border{
    border: 1px solid #2A64F9;
} */
.icon:hover{
    /* background-color: blue; */
    padding: 5px;
    border: 1px solid #2A64F9;
    border-radius: 50%;
}